<!DOCTYPE html>
<html>
<head>
    <title>Frutas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lista de Frutas</h1>
    <ul>
        {% for fruta in frutas %}  <!--Loop percorre a lista 'frutas' -->
            <li>
                
                <a href="/{{ fruta.get_id() }}"> <!-- cria um link para a rota da fruta, ex: /1, /2, etc -->
                    {{ fruta.get_nome() }}  <!-- mostra o nome da fruta como texto do link -->
                </a>
            </li>
        {% endfor %} 
    </ul>
</body>
</html>
